* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(225, 6%, 13%);
}

h1,
h2,
h3,
input,
button {
  font-family: 'Press Start 2P', system-ui;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: black;
  gap: 14px;
}

.title {
  display: flex;
  align-items: stretch;
}

header {
  display: flex;
  align-items: stretch;
}

.main {
  max-width: 800px;
  width: 100%;
  margin: 14 auto;
  background: hsl(214, 100%, 97%);
  
}

.title, header {
  margin-bottom: 30px;
  gap: 14px;
}

.area {
  min-height: 100vh;
  max-width: 900px;
  padding: 30px 100px;
  width: 100%;
  margin: 0 auto;
  background: hsl(214, 100%, 97%) ;
}

header input {
  flex: 1;
  border-radius: 14px;
  outline: none;
  width: 100%;
}

::placeholder {
  color: hsl(0, 0%, 85%);
  opacity: .5; Firefox
}

::-ms-input-placeholder { /* Edge 12-18 */
  color: hsl(0, 0%, 90s%);
}

header button {
  padding: 14px 18px;
  border-radius: 14px;
  /* background: transparent; */
  transition: .5s ease;
  cursor: pointer;
  background: hsl(207, 100%, 60%);
}

header button:hover {
  /* opacity: 0.7; */
  background: hsl(207, 100%, 50%);
}

/* header button, */
header input {
  padding: 14px 18px;
  border: none;
  outline: none;
  background: white;
}

p {
  font-size: 0.9em;
  font-weight: bold;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.todoItem {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px;
  border-radius: 14px;
  background: white;
}

.todoItem p {
  flex: 1;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.actionsContainer button {
  transition: .5s ease;
  border: none;
  border-radius: 5px;
  /* background: transparent; */
  cursor: pointer;
  padding: 12px;
}

.actionsContainer button i {
  color: white;
}

.done {
  margin: 0px 25px;
}

#edit {
  background: hsl(207, 100%, 60%);
}

#edit:hover {
  background: hsl(207, 100%, 40%);
}

#remove {
  background: hsl(0, 100%, 60%);
}

#remove:hover {
  background: hsl(0, 100%, 45%);
}

.moveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.move {
  padding: 0px 5px !important;
  background: transparent;
}

.move i {
  color: hsl(225, 6%, 13%) !important;
}

@media (min-width: 640px) {

  header button,
  header input {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}